body {
    color: coral;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px red solid;
    margin: auto;
}

.header {
    margin: auto;
    display: block;
    align-items: center;
    text-align: center;
    width: 70%;
    text-decoration: seagreen;
    font-size: 60px;
    border: solid 1px red;
}